Pill-Spot/PillSpot/.vs
Pill-Spot/PillSpot/bin
Pill-Spot/PillSpot/obj
Pill-Spot/PillSpot/appsettings.json

Pill-Spot/PillSpot.Presentation/.vs
Pill-Spot/PillSpot.Presentation/bin
Pill-Spot/PillSpot.Presentation/obj

Pill-Spot/Contracts/.vs
Pill-Spot/Contracts/bin
Pill-Spot/Contracts/obj

Pill-Spot/LoggerService/.vs
Pill-Spot/LoggerService/bin
Pill-Spot/LoggerService/obj


Pill-Spot/Entities/.vs
Pill-Spot/Entities/bin
Pill-Spot/Entities/obj


Pill-Spot/Presentation/.vs
Pill-Spot/Presentation/bin
Pill-Spot/Presentation/obj

Pill-Spot/Repository/.vs
Pill-Spot/Repository/bin
Pill-Spot/Repository/obj

Pill-Spot/Service/.vs
Pill-Spot/Service/bin
Pill-Spot/Service/obj

Pill-Spot/Service.Contracts/.vs
Pill-Spot/Service.Contracts/bin
Pill-Spot/Service.Contracts/obj

Pill-Spot/Shared/.vs
Pill-Spot/Shared/bin
Pill-Spot/Shared/obj

Pill-Spot/PillSpot/Images/*

**/node_modules/
